bin/
anime-craft
node_modules/
dist/
*.exe
build/bin/
frontend/bindings/
.DS_Store
*.db
.task
coverage.out
frontend/coverage.out
frontend/coverage/
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
